:root {
  font-family: montserrat, sans-serif;
  overflow-x: hidden;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.header {
  width: 100% !important;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  box-sizing: border-box;
  box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.1);
  transition: 0.4s ease-in;
  /* height: 140px; */
}

.internal-header {
  width: 90%;
  max-width: 875px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-placement {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 80px;
  padding-bottom: 10px;
}

.main-logo {
  width: 230px;
  height: auto;
  transition: 0.4s ease-in;
}

.secondary-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px 0px 0px;
}

.login-bundle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px 10px;
  border: 0px;
  background-color: transparent;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
}


.login-button:hover .login-status{
  color: #bf6322;
}

.login-button:hover .login-svg{
  fill: #bf6322;
}

.login-status {
  font-size: 1.1rem;
  color: #fb822c;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.login-svg {
  height: 35px;
  fill: rgb(255, 105, 0);
}

.header-contacts {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}

.external-header {
  width: 100vw;
  background-color: rgb(255, 105, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 960px;
  background-color: rgb(255, 105, 0);
}

.links-pages {
  width: calc(100%/6);
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-header {
  color: #000000;
  font-weight: 400;
  font-size: 0.8rem;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-left: 1px solid white; */
  padding: 4px 0px;
  flex-wrap: nowrap;
}

.link-header:hover {
  transition: 300ms ease-in-out;
  color: white !important;
}

.links-pages:first-of-type .link-header{
  border-left: 0px;
}

.active-link {
  color: rgb(255, 255, 255);
}

main {
  padding: 140px 0px 0px;
  background-color: rgb(255, 105, 0);
}

.main-title, .main-subtitle {
  font-style: italic;
  animation: fade-in 3s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.title-center {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 45px 0px 50px;
  color: rgb(47, 46, 46);
  background-color: white;
}

.main-title {
  font-size: 4rem;

}

.main-title span {
  font-weight: 600;
}

.main-subtitle {
  padding: 20px 0px 30px;
  font-size: 1.5rem;
  font-weight: 300;
}

.traced {
  transition: 600ms ease-in-out;
  height: 8px;
  width: 96px;
}

.line-container {
  width: 96px;
  height: 2px;
  background-color: transparent;
}

.line {
  width: 0;
  height: 8px;
  left: 0;
}


.line-animation {
  animation: animate-line 1100ms ease-in-out forwards;
}

@keyframes animate-line {
  to {
    width: 100%;
  }
}


.orange-background {
  background-color: rgb(255, 105, 0);
}

.white-background {
  background-color: white;
}

.slide {
  display: inline-block;
  height: 500px;
}

.oranged {
  fill: rgb(255, 105, 0);
  color: rgb(255, 105, 0);
}

.oranged-darken {
  fill: #e55e00;
  color: #e55e00;
}

.pagina-padrao {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/paginapadrao.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pagina-padrao:after {
  content: "";
  background: rgba(5, 7, 5, 0.442);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.internal-padrao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 700px;
  z-index: 2;
}

.internal-padrao-title {
  height: 500px;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-size: 3.25rem;
  font-weight: 600;
  color: white;
}

.internal-padrao-flyer {
  width: 50%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: white;
  font-size: 1.3rem;
  background-color: rgba(5, 7, 5, 0.631);
}

.internal-padrao-button {
  padding: 10px 25px;
  background-color: white;
  font-weight: 600;
  color: rgb(255, 105, 0);
  border: 1px solid rgb(255, 105, 0);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
}

.internal-padrao-button:hover {
  background-color: rgb(255, 105, 0);
  transition: 150ms ease-in-out;
  color: white;
}

.indicators {
  padding: 0px !important;
}

.internal-padrao-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  white-space: normal;
}

.curiosidade {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/curiosidade.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.centered-curiosidade {
  background-color: #ff8a37;
  color: white;
  font-size: 1.2rem;
  min-width: 40%;
  width: 500px;
  font-weight: 300;
  padding: 40px;
  border-radius: 8px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 15px 30px -14px rgba(232,158,105,1);
  -moz-box-shadow: 0px 15px 30px -14px rgba(232,158,105,1);
  box-shadow: 0px 15px 30px -14px rgba(232,158,105,1);
}

.curiosidade-sector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}


.curiosidade-title {
  color: white;
  font-size: 2.2rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 10px;
}

.promocao {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
}

.internal-promo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  z-index: 2;
  gap: 20px;
}

.promo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  gap: 10px;
}

.promo-title, .promo-discount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 600;
}

.promo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.promo-title span {
  font-size: 2.6rem;
}

.promo-discount {
  color: rgb(255, 105, 0);
  width: 40%;
}

.promo-discount span {
  font-size: 6rem;
  font-weight: 800;
}

.promo-image {
  background-image: url("/promocao.png");
}

.services {
  padding: 80px 0px 60px;
  margin-top: -54px;
  background-color: rgb(255, 105, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 40px 10px;
  width: 85%;
  max-width: 1300px;
}

.services-title {
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
}

.service-title {
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.service-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.service-svg svg {
  width: 64px;
}

.request-budget {
  display: flex;
  align-items: center;
  background-color: white;
}

.rb-image {
  background-image: url("/rbImage.jpg");
  background-size: cover ;
  background-position-y: -80px;
  background-repeat: no-repeat;
  height: 300px;
  width: 50%;
}

.rb-context {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  gap: 30px;
  padding: 40px 18% 40px 120px;
}

.rb-title {
  font-size: 1.6rem;
  font-weight: 600;
  white-space: nowrap;
}

.rb-btn {
  padding: 10px 25px;
  background-color: rgb(255, 105, 0);
  font-weight: 600;
  color: white;
  border: 1px solid rgb(255, 105, 0);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
}

.rb-btn:hover {
  background-color: rgb(239, 102, 5);
  transition: 150ms ease-in-out;
  color: white;
}

.maps-styled {
  border: 5px solid rgb(255, 105, 0);
  border-radius: 8px;
  margin: 20px;
}

.contact-item-text {
  color: #959595;
  text-decoration: none;
}

.footer-surround {
  background-color: #202020;
  color: #959595;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-title {
  color: rgb(255, 105, 0);
  font-weight: 700;
  font-size: 3rem;
  padding: 40px 20px;
}

.top-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 800px;
}

.first-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.third-section {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: 1px solid #959595;
  margin-bottom: 20px;
}

.contact-social-media {
  color: #959595;
  padding: 0px 0px 30px;
}

.map-section {
  margin: 40px 0px 70px;
}

.map-section {
  padding-bottom:56.25%;
  position:relative;
  height:250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-section iframe{
  left:0;
  top:0;
  transform: translateX(-50%);
  height: 250px;
  width:90vw;
  position:absolute;
  margin: 0px;
}

.bottom-footer {
  margin: 20px auto;
}

.italic-title {
  font-style: italic;
  font-weight: 400;
}

.whyotto {
  padding: 80px 0px 20px;
  background-color: rgb(242, 240, 240);;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.why-otto-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.why-otto-title {
  color: #202020;
  font-size: 3.5rem;
  font-weight: 700;
}

.wos {
  width: 85%;
  max-width: 1300px;
  margin: auto;
  padding: 80px 0px 20px;
}

.each-wo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100%/5);
  border-radius: 5px;
  background-color: white;
  padding: 30px 0px 20px;
  height: auto;
}

.wos-surround {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.wo-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  margin-top: 25px;
  height: 110px;
}

.wo-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.wo-subtext {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 0px 0px 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.wo-subtext li {
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 10px 0px;
  color: rgb(145, 145, 145);
}

.dashboard-surround {
  width: 100vw;
  min-height: 135vh;
  height: auto;
  background-color: rgb(242, 240, 240);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 100px;
}

.dashboard-item {
  display: flex;
  border-radius: 3px;
  background-color: white;
}

.dashboard-internal {
  width: 90%;
  max-width: 950px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.dashboard-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  border-radius: 3px;
  background-color: white;
}

.dashboard-date-constant {
  font-size: 0.8rem;
  color: rgb(47, 46, 46);
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding: 16px;
}

.user-hello-dashboard {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 105, 0);
  padding: 16px;
}

.dashboard-sections {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 12px;
  margin-top: 10px;
}

.prior-section-dashboard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: auto; 
  gap: 12px;
}

.extent-section-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  gap: 12px;
}

.smp {  
  text-align: center;
}

.user-score, .rewards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dashboard-ip {
  font-size: 0.8rem;
  color: rgb(47, 46, 46);
  letter-spacing: 0.1rem;
  font-weight: 500;
  width: 100%;
}

.dashboard-score-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.actual-score {
  font-size: 5.5rem;
  font-weight: 800;
  color: rgb(239, 102, 5);
  margin: 5px 30px 0px;
  text-align: center;
}

.score-suffix {
  margin-top: -10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(239, 102, 5);
}

.score-info {
  padding: 15px 0px 5px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(47, 46, 46);
  margin-top: 15px;
  font-size: 0.8rem;
  border-top: 1px solid rgb(214, 214, 214);
  text-decoration: none;
}

.active-orders {
  min-height: 213px;
  width: 100%;
}

.internal {
  padding: 16px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.ao-table {
  width:100%;
  border-collapse:collapse;
  padding:8px;
  margin: 16px auto 5px;
}

.ao-table th {
  padding: 8px;
  background-color: rgb(255, 105, 0);
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom:5px;
}

.ao-table th:first-of-type {
  border-radius: 8px 0px 0px 0px;
  width: 50%;
}

.ao-table th:last-of-type {
  border-radius: 0px 8px 0px 0px;
}

.ao-table td {
  text-align:center;
  padding:8px;
  background: white;
  color: #313030;
}

.ao-logs {
  border: 1px solid rgba(255, 106, 0, 0.335);
}

.cancel-appointment {
  border: 1px solid red;
  border-radius: 5px;
  width: 25px;
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin: auto;
  aspect-ratio: 1;
  background-color: white;
  cursor: pointer;
}

.cancel-appointment:hover {
  background-color: red;
  color: white;
  transition: 200ms ease-in-out;
}

.confirmed {
  color: rgb(11, 135, 11) !important;
  font-size: 0.9rem;
}

.ao-log-date {
  font-size: 0.8rem;
}

.ao1 {
  text-align: start !important;
}

.ao-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 16px 0px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.ao-legenda {
  font-size: 0.8rem;
  color: rgba(47, 46, 46, 0.75);
  font-weight: 500;
}

.agendar-ao {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 16px;
  background-color: rgb(255, 105, 0);
  border-radius: 3px;
  text-decoration: none;
  color: white;
  letter-spacing: 0.1rem;;
}

.agendar-ao:hover {
  background-color: rgb(228, 97, 3);
  transition: 200ms ease-in-out;
}

.rewards-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.each-reward {
  display: flex;
  width: 82%;
  align-items: center;
  justify-content: space-between;
  margin: 3px 16px;
  padding: 8px 16px;
  color: rgb(255, 105, 0);
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 105, 0, 0.35);
}

.reward-button {
  color: rgb(255, 105, 0);
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px ;
  margin-right: -5px;
}

.reward-button:hover {
  transition: 200ms ease-in-out;
  background-color: rgba(214, 214, 214, 0.5);
}

.reward-exp {
  font-size: 0.7rem;
  color: rgb(47, 46, 46);
  font-weight: 500;
  padding: 5px 0px 2px;
}

.old-orders {
  min-height: 175px;
  width: 100%;
}

.oo-section {
  width: 100%;
}

.oo-table {
  width:100%;
  border-collapse:collapse;
  padding:8px;
  margin: 16px auto 5px;
}

.oo-table th {
  padding: 8px;
  background-color: rgba(47, 46, 46, 0.5);
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom:5px;
}

.oo-table th:first-of-type {
  border-radius: 8px 0px 0px 0px;
  width: 50%;
}

.oo-table th:last-of-type {
  border-radius: 0px 8px 0px 0px;
}

.oo-table td {
  text-align:center;
  padding:8px;
  background: white;
  color: #313030;
}

.oo-log {
  border-bottom: 1px solid rgba(47, 46, 46, 0.1);
}

.oo-log-date, .oo-log-garantia {
  font-size: 0.8rem;
}

.oo-type {
  max-width: 70%;
}


.agendar-oo {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 16px;
  background-color: white;
  border: 1px solid rgb(255, 105, 0);
  border-radius: 3px;
  text-decoration: none;
  color: rgb(255, 105, 0);
  letter-spacing: 0.1rem;;
}

.agendar-oo:hover {
  background-color: rgb(248, 248, 248);
  transition: 200ms ease-in-out;
}

.oo-log-name {
  text-align: start !important;
}

/* BUDGET PAGE */

.budget-hero {
  width: 100vw;
  height: 70vh;
  background-image: url("/budgetHero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.budget-filter {
  background-color: rgba(5, 7, 5, 0.7);
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.budget-internal {
  width: 90%;
  max-width: 900px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 60px;
}

.budget-text {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  max-width: 90%;
  animation: fade-in 1s ease-in;
}

.budget-subtitle {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  max-width: 60%;
  margin-bottom: 15px;
  animation: fade-in 1s ease-in;
}

.budget-sector {
  margin-top: 30px;
  animation: fade-in 1s ease-in;
}

.budget-form-section {
  width: 100vw;
  /* min-height: 110vh; */
  background-color: #ff6900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.budget-form-center {
  height: auto;
  margin-top: -10vh;
  background-color: white;
  width: 90%;
  max-width: 900px;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  padding: 25px 35px;
  animation: up-in 1250ms ease-in-out;
}

@keyframes up-in {
  0% {
    margin-top: 50vh;
  }
  100% {
    margin-top: -10vh;
  }
}

/* .input-field {
  position: relative;
  width: 40%;
  height: 44px;
  line-height: 44px;
}
label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 40%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
  font-size: 1.2rem;
}
input:invalid {
  outline: 0;
}
input:focus, input:valid {
  border-color: rgb(255, 105, 0);
}
input:focus ~ label, input:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: rgb(255, 105, 0);
} */


.dropdown-container {
  width: 100%;
  padding-top: 10px !important;
}

.budget-form-title {
  font-size: 3rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
}

.budget-form-subtitle {
  font-size: 1.4rem;
  margin-top: 20px;
}

.budget-form-instructions li{
  margin-top: 10px;
}

.budget-form-main {
  margin: 30px 10px;
  border-top: 1px solid rgb(232, 232, 232);
}

/* SERVICES PAGE */

.services-hero {
  width: 100vw;
  height: 70vh;
  background-image: url("/servicesHero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.services-filter {
  background-color: rgba(5, 7, 5, 0.7);
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-internal {
  width: 90%;
  max-width: 900px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 170px;
}

.services-text {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  max-width: 90%;
  animation: fade-in 1s ease-in;
}

.services-subtitle {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  max-width: 60%;
  margin-bottom: 15px;
  animation: fade-in 1s ease-in;
}

.services-sector {
  margin-top: 30px;
  animation: fade-in 1s ease-in;
}

.displayline {
  width: 40px;
  height: 420px;
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.displayline-line {
  height: 320px;
  width: 3px;
  background-color: rgb(255, 105, 0);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

.displayline-pts {
  height: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(255, 105, 0);
  border: 3px solid rgb(255, 105, 0);
}

.servicelist-surround {
  background-color: rgb(242, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.servicelist-internal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 900px;
  padding: 80px 0px 40px;
}

.servicelist-title {
  color: rgb(255, 105, 0);
  font-size: 2.8rem;
  font-weight: 700;
  width: 85%;
  padding-left: 40px;
}

.servicelist-subtitle {
  color: rgb(47, 46, 46);
  font-size: 1.4rem;
  font-weight: 400;
  width: 85%;
  padding-top: 10px;
  padding-left: 40px;
}

.servicelist-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 102%;
  margin-top: 60px;
}

.service-column {
  width: calc(100%/3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.service-box {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
  height: 160px;
  gap: 12px;
  box-shadow: 0px 0px 20px -15px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  transition: 1250ms ease-in-out;
}

.display-inline {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0px 15px 0px 20px;
}

.service-box:hover {
  transform: translateY(-5px);
  transition: 250ms ease-in-out;
}

.service-box-type {
  font-size: 0.8rem;
  color: rgb(47, 46, 46);
  letter-spacing: 0.1rem;
  font-weight: 500;
  width: 80%;
  padding-top: 20px;
}


.service-box-title {
  font-size: 1.4rem;
  color: rgb(255, 105, 0);
  font-weight: 700;
  width: 60%;
  max-height: 75px;
}
.service-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  width: 30%;
}

.sl-line {
  position: relative;
  top: -10px;
  width: 100vw;
  height: 5px;
  background-color: rgb(242, 240, 240);
}


.service-cta {
  padding: 60px 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.service-sector {
  animation: fade-in 1s ease-in;
  margin-top: 20px;
}

.services-title-second {
  font-size: 2.8rem;
  font-weight: 700;
  color: rgb(255, 105, 0);
}

.service-subtitle {
  font-size: 1.4rem;
  color: rgb(47, 46, 46);
  font-weight: 400;
}

/* AGENDAMENTO PAGE
 */

 .agendamento-hero {
  width: 100vw;
  height: 70vh;
  background-image: url("/agendamentoHero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.agendamento-filter {
  background-color: rgba(5, 7, 5, 0.7);
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agendamento-internal {
  width: 90%;
  max-width: 900px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 60px;
}

.agendamento-text {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  max-width: 90%;
  animation: fade-in 1s ease-in;
}

.agendamento-subtitle {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  max-width: 60%;
  margin-bottom: 15px;
  animation: fade-in 1s ease-in;
}

.agendamento-sector {
  animation: fade-in 1s ease-in;
  margin-top: 30px;
}

.agendamento-form-section {
  width: 100vw;
  /* min-height: 110vh; */
  background-color: rgb(47, 46, 46);
  display: flex;
  align-items: center;
  justify-content: center;
}

.agendamento-form-center {
  height: auto;
  margin-top: -10vh;
  background-color: white;
  width: 90%;
  max-width: 900px;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  padding: 25px 35px;
  animation: up-in 1250ms ease-in-out;
}


.agendamento-form-title {
  font-size: 3rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
}

.agendamento-form-subtitle {
  font-size: 1.4rem;
  margin-top: 20px;
}

.agendamento-form-instructions li{
  margin-top: 10px;
}

.agendamento-form-main {
  margin: 20px 10px 50px;
  border-top: 1px solid rgb(232, 232, 232);
  padding-top: 15px;
}

/* COMPANY PAGE */

.company-hero {
  width: 100vw;
  height: 70vh;
  background-image: url("/companyHero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.company-filter {
  background-color: rgba(5, 7, 5, 0.7);
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-internal {
  width: 90%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 60px;
}

.company-insider {
  padding: 20px 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px ;
  max-width: 80%;
  transition: 250ms ease-in-out;
  box-shadow: 10px 10px 0px 3px rgb(255, 105, 0);
}

.company-insider:hover {
  transition: 250ms ease-in-out;
  box-shadow: 15px 15px 0px 3px rgb(255, 105, 0);
}


.company-title {
  color: rgb(255, 105, 0);
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.company-subtitle {
  color: #2f2e2e;
  font-weight: 600;
  font-size: 1.1rem;
  animation: fade-in 1s ease-in;
  text-align: center;
}

.company-goals-pre {
  width: 100vw;
  height: 60vh;
  position: relative;
  top: -60vh;
  background: rgb(255,255,255);
  margin-bottom: -60vh;
  background: linear-gradient(180deg, rgba(255,255,255,0) 58%, rgba(47,46,46,1) 84%);
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.company-goals {
  width: 100vw;
  background-color: #2f2e2e;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh;
}

.empty {
  background-color: transparent;
  margin-bottom: 15px;
}

.goals-one, .goals-three {
  margin-bottom: 50px;
  text-align: start !important;
  width: 85%;
}


.goals-two {
  font-weight: 400 !important;
  text-align: start !important;
}


.company-pilars {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5%;
}

.company-pilar {
  padding: 20px 30px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  min-height: 115px;
  transition: 250ms ease-in-out;
  box-shadow: 10px 10px 0px 3px rgb(255, 105, 0);
}

.company-pilar:hover {
  transition: 250ms ease-in-out;
  box-shadow: 15px 15px 0px 3px rgb(255, 105, 0);
}

.glad {
  margin-top: 50px;
}

.company-pilar-inside {
  color: rgb(255, 105, 0);
  fill: rgb(255, 105, 0);
}

.company-pilar-text {
  color: rgb(255, 105, 0);
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.company-pilar-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
}

.pilar-writing {
  letter-spacing: 0.05rem;
  color: black;
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
  margin-top: 20px;
}

.hijo {
  gap: 5vh;
}

.company-hache {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}


.company-attribute {
  transition: 250ms ease-in-out;
  box-shadow: 10px 10px 0px 3px rgb(255, 105, 0);
  padding: 20px 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  gap: 40px;
  width: 60%;
}

.company-attribute:hover {
  transition: 250ms ease-in-out;
  box-shadow: 15px 15px 0px 3px rgb(255, 105, 0);
}

.attribute-title {
  font-size: 0.8rem;
  color: rgb(47, 46, 46);
  letter-spacing: 0.1rem;
  font-weight: 500;
  width: 100%;
}

.attribute-object {
  padding: 10px 10px 10px 0px;
}

.attribute-object-title {
  color: rgb(255, 105, 0);
  font-size: 1.3rem;
  font-weight: 600;
}

.no-margin-attribute {
  margin-bottom: 20px !important;
}

.company-attribute i {
  color: rgb(235, 99, 2);
}

.company-displaypoints-extra {
  padding: 40px 0px;
}

.application-form-center {
  background-color: white;
  width: 90%;
  max-width: 900px;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  padding: 25px 35px 150px;
  animation: up-in 1250ms ease-in-out;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px ;
}

.agendamento-form-subtitle a {
  color: rgb(255, 105, 0);
}

.accordion__panel {
  background-color: white ;
}

.faq-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 40px;
  background-color: rgb(255, 105, 0);
  width: 90%;
  max-width: 900px;
  margin: auto;
}



.haveaccount-section {
  border-bottom: 1px solid rgb(232, 232, 232);
  padding-bottom: 15px;
}

.haveaccount-decision {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.remove-moto {
  margin-left: auto;
}

.remove-moto-button {
  border: 0px;
  border-radius: 5px;
  background-color: white;
  color: rgb(255, 105, 0);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  margin: 10px 0px;
  transition: 200ms ease-in-out;
  text-decoration: none;
}


.remove-moto-button:hover{ 
  background-color: rgb(229, 227, 227);
  transition: 200ms ease-in-out;
}

.moto-modelo {
  border: 1px solid rgb(255, 105, 0);
  border-radius: 5px;
  background-color: white;
  color: rgb(255, 105, 0);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  margin: 10px 0px;
  width: 95%;
}

.nome-moto {
  font-size: 1.3rem;
  font-weight: 700;
}

.espec-moto, .ano-moto {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.1rem;
  font-weight: 500;
}

.moto-modelo-inside {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;  
}

.haveaccount-radio {
  position: relative;
  width: 100%;
}

.haveaccount-button:hover{ 
  background-color: rgb(248, 248, 248);
  transition: 200ms ease-in-out;
}

.basic-information-section {
  border-bottom: 1px solid rgb(232, 232, 232);
  padding-bottom: 15px;
}

.insert-moto {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0px auto 20px auto;
  gap: 20px;
}

.basic-information-internal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.whatsapp-surround {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.whatsapp-button {
  color: white;
  fill: white;
  background-color: #25d366;
  border-radius: 50%;
  height: 70px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.35s;
  box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.1);
}

.whatsapp-button:hover, .whatsapp-button:focus {
  background-color: #1fb957;
}

@media only screen and (min-width: 370px) and (max-width: 800px) {
  .whatsapp-surround {
    bottom: 20px !important;
    right: 20px !important;
  } 
}

.if-each {
  padding: 10px;
  font-size: 1rem;
  color: #505050;
  margin: 10px 8px;
  border-radius: 5px;
  border: 1px solid #cecece;
}

.inserir-nova-moto {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 16px;
  background-color: rgb(255, 105, 0);
  border-radius: 3px;
  text-decoration: none;
  color: white;
  letter-spacing: 0.1rem;
  transition: 200ms ease-in-out;
  border: 0px;
  cursor: pointer;
  margin: 10px 0px 0px auto;
}

.inserir-nova-moto:hover {
  background-color: rgb(228, 97, 3);
  transition: 200ms ease-in-out;
}


.select-dropdown-s {
  display: block;
  padding: .375rem 2.25rem .375rem .75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 1f0px 5px 15px 0px;
  width: 95%;
}

.select-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin: auto;
  gap: 3px;
  margin-bottom: 25px;
}

.select-dropdown label {
  margin: 10px 20px;
  width: 100%;
}

.login-surround {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.inserir-novo-serviço {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 16px;
  background-color: rgb(255, 105, 0);
  border-radius: 3px;
  text-decoration: none;
  color: white;
  letter-spacing: 0.1rem;
  transition: 200ms ease-in-out;
  border: 0px;
  cursor: pointer;
  margin: 20px 0px 0px auto;
}
.button-surround-one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card {
  width: 100%;
  display: block;
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  padding: var(--custom-spacing);
}

.avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
}
.avatar.image {
  object-fit: cover;
}
.avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.footer {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row;
  border-top: var(--custom-border);
  background-color: var(--custom-bg-color);
}
.footer div {
  padding: var(--custom-spacing);
  display: flex;
  align-items: center;
  width: 100%;
}
.footer div > img {
  height: 20px;
  margin-left: 10px;
}
.footer > div:first-child {
  display: none;
}
.footer > div:nth-child(2) {
  justify-content: left;
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .footer > div:first-child {
    display: flex;
  }
  .footer > div:nth-child(2) {
    justify-content: center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainHeader {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.avatarPlaceholder {
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Auth */

.auth-widget {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-widget > .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #444444;
  text-transform: none !important;
  transition: all 0.2s ease;
}

.auth-widget .button:hover {
  background-color: #2a2a2a;
}

.auth-widget .button > .loader,
.account .button > .loader {
  width: 17px;
  animation: spin 1s linear infinite;
  filter: invert(1);
}

/* Account */

.account {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.account > * > .avatarField {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.account > * > .avatarField > .avatarContainer {
  margin-right: 20px;
}

/* Profile Card */

.profileCard {
  border-radius: 5px;
  display: flex;
  border: var(--custom-border);
  background-color: var(--custom-panel-color);
  padding: 20px 20px;
  margin-bottom: 20px;
}

.profileCard:last-child {
  margin-bottom: 0px;
}

.profileCard > .userInfo {
  margin-left: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileCard > .userInfo > p {
  margin: 0;
}

.profileCard > .userInfo > .username {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.profileCard > .userInfo > .website {
  font-size: 0.9rem;
  color: var(--custom-color-brand);
  margin-bottom: 10px;
  text-decoration: none;
}

.login-form-surround {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  border: 0px;
  background-color: white;
  width: 95%;
  max-width: 950px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.main-login {
  padding: 100px 0px 500px;
}

.settings-button {
  color: rgb(255, 105, 0);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 0px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: 200ms ease-in-out;
  text-decoration: none;
  gap: 10px;
}

.settings-button:hover{ 
  background-color: rgb(234, 233, 233);
  transition: 200ms ease-in-out;
}

.dashboard-top-inline {
  display: flex;
}

.form-widget-display {
  background-color: white;
  padding: 40px 20px 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 900px;
  margin: 120px auto 400px;
}

.select-motos-account {
  width: 85%;
  padding: 10px;
  margin: 20px auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(242, 240, 240);
}

.profile-pic-display-account {
  margin-top: -100px;
  width: auto;
  border-radius: 50%;
  background-color: white;
  aspect-ratio: 1;
  padding: 5px;
}

.profile-pic-display-account svg {
  height: 120px;
  width: 120px;
}

.label-account {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 10px;
}

.label-account input {
  display: block;
  width: 95%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 10px;
}

.title-account-mg {
  width: 90%;
  font-size: 1.8rem;
  color: black;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 30px;
}

.actual-title-mg {
  padding: 10px;
}

.enlarged {
  padding: 5px 10px!important;
  font-size: 1rem;
  margin: 0px !important;
}

.config {
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto !important;
}

.minimal {
  width: 200px !important;
  cursor: pointer;
  margin-right: 0px;
}

.notifying {
  border-top: 1px solid rgb(255, 105, 0);
  width: 99.5%;
}

.notifying div {
  padding-top: 5px !important;
  padding-bottom: 7px !important;
  color: rgb(255, 105, 0);
}

.burger-menu {
  position: relative;
  margin-right: -10px;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: #f0f0f0;
  width: 300px;
  height: 100%;
  padding: 0.5rem 1rem;
  box-shadow: 0 6px 12px rgba(107, 82, 82, 0.3);
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: ease-in-out 0.3s all;
  z-index: 5;
}

.opened {
  right: 0px !important;
}

.not-opened {
  right: -300px !important;
}

.burger-button-menu {
  background-color: transparent;
  color: white;
  border: 0px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 15px;
}


.burger-button-menu:hover {
  color: rgb(228, 228, 228);
}

.body-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}


.access-sidebar {
  padding: 20px 20px 10px;
  border-top: 1px solid rgb(255, 105, 0);
  margin-top: 10px;
}

.access-sidebar a {
  color: black;
  text-decoration: none;
}

.access-sidebar a:hover {
  color: rgba(0, 0, 0, 0.751);
}

.login-section-sidebar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 0px 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
  .request-budget {
    flex-direction: column-reverse;
  }

  .rb-image {
    width: 100%;
    margin-bottom: -80px;
  }


  .header {
    margin-top: -20px;
  }

  main {
    padding-top: 120px;
  }

  .rb-context {
    padding: 40px;
    height: 150px;
  }

  .wos-surround {
    flex-direction: column;
  }

  .each-wo {
    width: 80%;
    padding-top: 35px;
  }

  .each-wo img {
    height: 140px;
    width: 140px;
  }

  .footer-title, .service-cta {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 2.3rem;
  }

  .why-otto-title, .services-title {
    padding: 0px 20px;
    text-align: center;
    font-size: 2rem;
  }

  .services-list {
    flex-direction: column;
  }

  .secondary-header {
    display: none;
  }

  .wo-title {
    font-size: 1.4rem;
  }

  .wo-subtext {
    font-size: 1.3rem;
  }

  .wo-text {
    height: auto;
  }
  .external-header {
    display: none;
  }

  .main-title {
    font-size: 2.5rem;
  }

  .main-subtitle {
    font-size: 1.2rem;
    padding: 10px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
  }

  .react-slideshow-container {
    display: none !important;
  }

  .indicators {
    visibility: hidden;
  }

  .wo-subtext div{
    font-size: 1rem;
    padding: 5px 10px;
  }

  .wo-subtext {
    padding-bottom: 10px;
  }

  .budget-form-center, .agendamento-form-center {
    width: 94%;
  }

  .budget-form-title, .agendamento-form-title {
    font-size: 2.5rem;
  }

  .budget-text, .agendamento-text, .services-text {
    font-size: 3.4rem;
  }

  .budget-form-subtitle, .agendamento-form-subtitle, .services-subtitle {
    font-size: 1.2rem;
  }

  .budget-subtitle, .agendamento-subtitle {
    font-size: 1.3rem;
  }

  .select-dropdown {
    width: 95%;
  }

  .insert-moto {
    width: 95%;
    margin-left: 0px;
  }

  .fa-motorcycle-one {
    display: none;
  }

  .remove-moto {
    margin-right: -10px;
  }

  .service-filler {
    display: none;
  }

  .servicelist-display {
    flex-direction: column;
    gap: 24px;
  }

  .service-column {
    width: 85%;
  }

  .company-attribute {
    width: 80%;
    margin-left: -7px;
  }

  .company-insider {
    margin-left: -7px;
  }

  .company-pilars {
    flex-direction: column;
    row-gap: 30px;
  }

  .company-pilar {
    width: 78%;
  }

  .pilar-writing {
    font-weight: 400;
    font-size: 1.1rem
  }

  .dashboard-sections {
    flex-direction: column;
  }

  .prior-section-dashboard, .extent-section-dashboard {
    width: 100%;
  }

  .dashboard-date-constant {
    display: none;
  }
}

@media screen and (min-width: 401px) and (max-width: 720px) {
  .request-budget {
    flex-direction: column-reverse;
  }

  .prior-section-dashboard, .extent-section-dashboard {
    width: 100%;
  }

  .dashboard-date-constant {
    display: none;
  }

  .dashboard-sections {
    flex-direction: column;
  }

  .company-attribute {
    width: 80%;
    margin-left: -7px;
  }

  .pilar-writing {
    font-weight: 400;
    font-size: 1.2rem
  }

  .company-pilars {
    flex-direction: column;
    row-gap: 30px;
  }

  .company-pilar {
    width: 78%;
  }

  .company-insider {
    margin-left: -7px;
  }

  .servicelist-display {
    flex-direction: column;
    gap: 24px;
  }

  .service-column {
    width: 85%;
  }

  .service-filler {
    display: none;
  }

  .budget-form-center, .agendamento-form-center {
    width: 94%;
    padding: 20px 25px;
  }
  .budget-form-title, .agendamento-form-title {
    font-size: 2.5rem;
  }

  .fa-motorcycle-one {
    display: none;
  }


  .select-dropdown {
    width: 95%;
  }

  .insert-moto {
    width: 95%;
    margin-left: 0px;
  }

  .budget-text, .agendamento-text, .services-text {
    font-size: 3.4rem;
  }

  .budget-subtitle, .agendamento-subtitle, .services-subtitle {
    font-size: 1.3rem;
  }

  .budget-form-subtitle, .agendamento-form-subtitle {
    font-size: 1.2rem;
  }

  .rb-image {
    width: 100%;
    margin-bottom: -80px;
  }

  .rb-context {
    padding: 40px;
    height: 150px;
  }

  .wos-surround {
    flex-direction: column;
  }

  .each-wo {
    width: 80%;
    padding-top: 35px;
  }

  .each-wo img {
    height: 140px;
    width: 140px;
  }

  .wo-title {
    font-size: 1.4rem;
  }

  .wo-subtext {
    font-size: 1.3rem;
    width: 70%;
    gap: 5px;
    margin-top: 10px;
  }

  .footer-title, .service-cta {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 2.3rem;
  }

  .why-otto-title, .services-title {
    padding: 0px 20px;
    text-align: center;
    font-size: 2.5rem;
  }

  .services-list {
    flex-direction: column;
  }

  .secondary-header {
    display: none;
  }

  .wo-text {
    height: auto;
  }

  .external-header {
    display: none;
  }
  .main-title {
    font-size: 3rem;
  }

  .main-subtitle {
    font-size: 1.3rem;
    padding: 10px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
  }

  .react-slideshow-container {
    display: none !important;
  }

  .indicators {
    visibility: hidden;
  }

  .wo-subtext div{
    font-size: 1rem;
    padding: 5px 10px;
  }

  .wo-subtext {
    padding-bottom: 10px;
  }

  .why-otto-top {
    padding-top: 20px;
  }

  .footer-contact {
    flex-direction: column;
    row-gap: 20px;
  }

  .header {
    margin-top: -20px;
  }

  main {
    padding-top: 120px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
  .request-budget {
    flex-direction: column-reverse;
  }

  .rb-image {
    width: 100%;
  }

  .rb-context {
    padding: 40px;
    height: 150px;
  }

  .services-list {
    flex-direction: column;
  }

  .wos-surround {
    flex-direction: column;
  }

  .wo-text {
    height: auto;
  }
  .each-wo {
    width: 40%;
  }
  .why-otto-title {
    padding: 0px 20px;
    text-align: center;
  }

  .burger-menu {
    display: none;
  }
}

@media screen and (min-width: 1281px) {
  .request-budget {
  flex-direction: row;
  }

  .burger-menu {
    display: none;
  }
}

.landing-page-otto {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: white;
  flex-direction: column;
  padding: 150px 0px;
  margin-top: -120px;
}

.landing-page-otto img {
  height: 500px;
  width: auto;
  margin-top: -200px;
  margin-left: -100px;
  padding: 0px 20px;
}

.welcome-title {
  font-size: 2rem;
  color: black;
  padding: 0px 20px;
}

.welcome-button {
  border: 0px;
  background-color: transparent;
  text-decoration: underline;
  color: gray;
  font-size: 1.2rem;
}